@import "../../style";

main {
    display: flex;
    flex-direction: column;
    align-items: center;

    form {
        .form-elements {
            display: flex;
            flex-direction: column;
            margin-bottom: 24px;

            label {
                font-size: 1.2rem;
            }

            .form-input {
                border: 1px solid $primary-color;
                border-radius: 4px;
                outline: none;
                font-size: 1.2rem;

                &#form-textarea {
                    resize: none;
                }

                &:not(#form-textarea) {
                    height: 35px;
                }

                &:focus {
                    box-shadow: 0 0 10px 3px $primary-color;
                }
            }
        }

        .btn-div {
            text-align: center;

            #submit {
                height: 40px;
                background-color: $primary-color;
                border: none;
                min-width: 120px;
                font-size: 1.2rem;
            }
        }
    }
}

// #form {
//     padding-top: 10px;
//     padding-left: 10px;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }

// #first-input #last-input #message-input {
//     box-sizing: border-box;
//     padding: 5px;
//     margin-bottom: 10px;

// }

// #message-input {
//     vertical-align: text-top;
//     overflow: wrap;
//     resize: none;
//     height:200px;
//     width: 200px;
// }

// input[type=submit] {
//     border: 5px solid $border-color;
//     background-color: $secondary-color;
//     padding: 10px;
//     margin-top: 5px;
// }